In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'train.csv')

In [3]:
df.shape

(165034, 14)

In [4]:
df.head()

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,15674932,Okwudilichukwu,668,France,Male,33.0,3,0.00,2,1,0,181449.97,0
1,1,15749177,Okwudiliolisa,627,France,Male,33.0,1,0.00,2,1,1,49503.50,0
2,2,15694510,Hsueh,678,France,Male,40.0,10,0.00,2,1,0,184866.69,0
3,3,15741417,Kao,581,France,Male,34.0,2,148882.54,1,1,1,84560.88,0
4,4,15766172,Chiemenam,716,Spain,Male,33.0,5,0.00,2,1,1,15068.83,0

In [5]:
df.drop('id', axis = 1, inplace = True)
df.drop('CustomerId', axis = 1, inplace = True)
df.drop('Surname', axis = 1, inplace = True)

In [6]:
df.head(3)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,668,France,Male,33.0,3,0.0,2,1,0,181449.97,0
1,627,France,Male,33.0,1,0.0,2,1,1,49503.50,0
2,678,France,Male,40.0,10,0.0,2,1,0,184866.69,0

In [7]:
df.Gender.value_counts()

Gender
Male      93150
Female    71884
Name: count, dtype: int64

In [8]:
df.replace({'France': 1 , 'Spain': 2, 'Germany': 3}, inplace = True)
df.replace({'Male': 0, 'Female': 1}, inplace = True)

In [9]:
df.corr()

# Postive corr: Age (0.340768), Geography(0.186849), Gender(0.146442, Balance(0.129743)
# Negative corr: NumOfProducts (-0.214554), IsActiveMember(-0.210237)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
CreditScore,1.000000,0.004993,-0.002310,-0.008918,0.000942,0.006973,0.011361,-0.002828,0.014790,-0.001820,-0.027383
Geography,0.004993,1.000000,0.036011,0.087808,-0.005730,0.476537,-0.090753,-0.012241,-0.029360,0.007994,0.186849
Gender,-0.002310,0.036011,1.000000,0.063139,-0.008767,0.014699,-0.026098,-0.006418,-0.033722,0.007778,0.146442
Age,-0.008918,0.087808,0.063139,1.000000,-0.010830,0.064318,-0.102195,-0.012111,0.003320,-0.005399,0.340768
Tenure,0.000942,-0.005730,-0.008767,-0.010830,1.000000,-0.009481,0.007335,0.005327,-0.005532,0.000971,-0.019565
Balance,0.006973,0.476537,0.014699,0.064318,-0.009481,1.000000,-0.361033,-0.018584,-0.015073,0.008586,0.129743
NumOfProducts,0.011361,-0.090753,-0.026098,-0.102195,0.007335,-0.361033,1.000000,0.005482,0.039736,-0.004285,-0.214554
HasCrCard,-0.002828,-0.012241,-0.006418,-0.012111,0.005327,-0.018584,0.005482,1.000000,-0.021034,0.004438,-0.022141
IsActiveMember,0.014790,-0.029360,-0.033722,0.003320,-0.005532,-0.015073,0.039736,-0.021034,1.000000,-0.008080,-0.210237
EstimatedSalary,-0.001820,0.007994,0.007778,-0.005399,0.000971,0.008586,-0.004285,0.004438,-0.008080,1.000000,0.018827
Exited,-0.027383,0.186849,0.146442,0.340768,-0.019565,0.129743,-0.214554,-0.022141,-0.210237,0.018827,1.000000

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
train, test = train_test_split(df, test_size= 0.2)

In [12]:
x_df = train.iloc[: , [1,2,3,6,7,9]]
y_df = train.loc[:,'Exited']
x_df_test = test.iloc[: , [1,2,3,6,7,9]]
y_df_test = test.loc[:,'Exited']

In [13]:
from sklearn.preprocessing import StandardScaler
stdsc = StandardScaler()

In [14]:
scaledmodel_x_df = stdsc.fit(x_df)
scaled_x_df = scaledmodel_x_df.transform(x_df)

scaled_x_df_test = scaledmodel_x_df.transform(x_df_test)

In [15]:
s_x_df = pd.DataFrame(scaled_x_df)
s_x_df_test = pd.DataFrame(scaled_x_df_test)

In [16]:
from sklearn.linear_model import LogisticRegressionCV

In [17]:
logcv = LogisticRegressionCV()

In [18]:
model = logcv.fit(s_x_df,y_df)

In [19]:
test_df = pd.read_csv('test.csv')

In [20]:
test_df.head()

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,165034,15773898,Lucchese,586,France,Female,23.0,2,0.00,2,0.0,1.0,160976.75
1,165035,15782418,Nott,683,France,Female,46.0,2,0.00,1,1.0,0.0,72549.27
2,165036,15807120,K?,656,France,Female,34.0,7,0.00,2,1.0,0.0,138882.09
3,165037,15808905,O'Donnell,681,France,Male,36.0,8,0.00,1,1.0,0.0,113931.57
4,165038,15607314,Higgins,752,Germany,Male,38.0,10,121263.62,1,1.0,0.0,139431.00

In [21]:
test_df.drop('id', axis = 1, inplace = True)
test_df.drop('CustomerId', axis = 1, inplace = True)
test_df.drop('Surname', axis = 1, inplace = True)

In [22]:
test_df.replace({'France': 1 , 'Spain': 2, 'Germany': 3}, inplace = True)
test_df.replace({'Male': 0, 'Female': 1}, inplace = True)

In [23]:
x_test = test_df.iloc[: , [1,2,3,6,7,9]]

In [24]:
scaled_x_test = scaledmodel_x_df.transform(x_test)

In [25]:
pred_df_test = model.predict(s_x_df_test)

In [26]:
from sklearn.metrics import *

In [27]:
confusion_matrix(y_df_test, pred_df_test)

array([[24879,  1146],
       [ 4987,  1995]], dtype=int64)

In [28]:
accuracy_score(y_df_test, pred_df_test)

0.814190929196837

In [29]:
# actual 0 - predicted 0 : 25911
# actual 1 - predicted 0 : 0
# actual 0 - predicted 1 : 7096
# actual 1 - predicted 0 : 0

In [30]:
#train.Exited.value_counts()

In [31]:
import matplotlib.pyplot as plt

In [32]:
#fig = plt.figure(figsize =(10, 7))
#plt.boxplot(x_df)

In [33]:
#As outliers are not present min max scaler can be used

In [34]:
logcv_b = LogisticRegressionCV(class_weight='balanced')

In [35]:
model_b = logcv_b.fit(s_x_df,y_df)

In [36]:
pred_df_test_b = model_b.predict(s_x_df_test)

In [37]:
confusion_matrix(y_df_test, pred_df_test_b)

array([[19641,  6384],
       [ 1962,  5020]], dtype=int64)

In [38]:
accuracy_score(y_df_test, pred_df_test_b)

0.7471445450964946

In [39]:
f1_score(y_df_test, pred_df_test_b)

0.5460676601762211

In [40]:
f1_score(y_df_test, pred_df_test)

0.39415193124567816

In [41]:
from sklearn.multiclass import OneVsRestClassifier

In [42]:
pred = model_b.predict_proba(s_x_df_test)

In [43]:
pred.max()

0.967019961839856

In [44]:
test.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
30077,583,3,0,40.0,3,125873.29,1,1,1,108764.63,0
72833,550,2,0,33.0,7,142904.64,1,0,1,134774.02,0
147548,680,1,0,37.0,4,0.00,2,1,0,66926.83,0
78064,687,1,1,37.0,8,59972.26,1,0,0,79082.62,0
113857,718,1,0,30.0,1,0.00,2,1,1,1408.53,0

In [45]:
pred_prob_test = model.predict_proba(scaled_x_test)

In [46]:
probs = pred_prob_test[pred_prob_test > 0.5]

In [47]:
t = pd.read_csv('test.csv')

In [48]:
output = pd.DataFrame()

In [49]:
t

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,165034,15773898,Lucchese,586,France,Female,23.0,2,0.00,2,0.0,1.0,160976.75
1,165035,15782418,Nott,683,France,Female,46.0,2,0.00,1,1.0,0.0,72549.27
2,165036,15807120,K?,656,France,Female,34.0,7,0.00,2,1.0,0.0,138882.09
3,165037,15808905,O'Donnell,681,France,Male,36.0,8,0.00,1,1.0,0.0,113931.57
4,165038,15607314,Higgins,752,Germany,Male,38.0,10,121263.62,1,1.0,0.0,139431.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
110018,275052,15662091,P'eng,570,Spain,Male,29.0,7,116099.82,1,1.0,1.0,148087.62
110019,275053,15774133,Cox,575,France,Female,36.0,4,178032.53,1,1.0,1.0,42181.68
110020,275054,15728456,Ch'iu,712,France,Male,31.0,2,0.00,2,1.0,0.0,16287.38
110021,275055,15687541,Yegorova,709,France,Female,32.0,3,0.00,1,1.0,1.0,158816.58
110022,275056,15663942,Tuan,621,France,Female,37.0,7,87848.39,1,1.0,0.0,24210.56

In [50]:
output['Id'] = t['id']
output['Exited'] = probs

In [51]:
output.to_csv('output.csv', index = False)